# CA 1 - Population Aging Prediction 
## Brief
A large amount of data has been collected by The Central Statistics Office in Ireland in relation to the population of Ireland, This data is available at:  

https://data.cso.ie/product/pme

You are required to choose a particular area of interest and formulate the appropriate questions for modelling and analysis. For Example (but not limited to):

Annual Population Change
Immigration and Migration
Population Forecasting
 etc…
You are required to collect, process, analyse and interpret the data in order to identify possible issues/problems at present and make predictions/classifications in regard to the future. This analysis will rely on the available data from CSO and any additional data you deem necessary (with supporting evidence) to support your hypothesis for this scenario.


## Hypothosis
Ireland is in the middle stage of the aging population demographic. 
Within the next 50 years we may enter the old age poulation, which may put further pressure on the younger parts of the population, simialr to what has been seen in othe countries such as Germany, Japan, South Korea, etc. 


## Code
The below script is used to describe the aging trend of the Irish population and compares it to other counties to predict the future trends of Ireland's population. 

## Data Used
From https://data.cso.ie/product/pme I imported PEA01 from 1950 - 2023 for both sexes. This file is initially called PEA03.20231010T191042.csv

From https://population.un.org/wpp/ I imported populaition estimates for both sexes from all UN members from as early as 1950-2021. This data set is initially called WPP2022_POP_F03_1_POPULATION_SELECT_AGE_GROUPS_BOTH_SEXES.xlsx

## Libraries
Below are the libraries I am planning to use in this assesment

In [1]:
import numpy as np
import pandas as pd

## First step

The first item I would like to do is to convert WPP2022_POP_F03_1_POPULATION_SELECT_AGE_GROUPS_BOTH_SEXES.xlsx from an excel data table to a csv, as this is easier to manipulate. 

This will be done my extracting the first sheet, Estimates

In [6]:
FilePath = "C:\\Users\\lfarrel\\OneDrive - KLA Corporation\\Documents\\GitHub\\MSc_DataAnalytics_CA1\\"

read_file = pd.read_excel (FilePath + '\\WPP2022_POP_F03_1_POPULATION_SELECT_AGE_GROUPS_BOTH_SEXES.xlsx')
read_file.to_csv (FilePath + '\\WorldData_Estimate.csv', index = None, header=True)

In [11]:
WE_dt = pd.read_csv("WorldData_Estimate.csv")
print(WE_dt.head(20))

   Unnamed: 0 Unnamed: 1                            Unnamed: 2 Unnamed: 3  \
0         NaN        NaN                                   NaN        NaN
1         NaN        NaN                                   NaN        NaN
2         NaN        NaN                                   NaN        NaN
3         NaN        NaN                                   NaN        NaN
4         NaN        NaN                                   NaN        NaN
5         NaN        NaN                                   NaN        NaN
6         NaN        NaN                                   NaN        NaN
7         NaN        NaN                                   NaN        NaN
8         NaN        NaN                                   NaN        NaN
9         NaN        NaN                                   NaN        NaN
10        NaN        NaN                                   NaN        NaN
11        NaN        NaN                                   NaN        NaN
12        NaN        NaN                                   NaN        NaN
13        NaN        NaN                                   NaN        NaN
14        NaN        NaN                                   NaN        NaN
15      Index    Variant  Region, subregion, country or area *      Notes
16          1  Estimates                                 WORLD        NaN
17          2  Estimates                                 WORLD        NaN
18          3  Estimates                                 WORLD        NaN
19          4  Estimates                                 WORLD        NaN

                                           Unnamed: 4       Unnamed: 5  \
0                                                 NaN              NaN
1                                                 NaN              NaN
2                                                 NaN              NaN
3                                      United Nations              NaN
4                                 Population Division              NaN
5           Department of Economic and Social Affairs              NaN
6                                                 NaN              NaN
7                     World Population Prospects 2022              NaN
8   File POP/03-1: Total population (both sexes co...              NaN
9                              Estimates, 1950 - 2021              NaN
10                      POP/DB/WPP/Rev.2022/POP/F03-1              NaN
11  © July 2022 by United Nations, made available ...              NaN
12  Suggested citation: United Nations, Department...              NaN
13                                                NaN              NaN
14                                                NaN              NaN
15                                      Location code  ISO3 Alpha-code
16                                                900              NaN
17                                                900              NaN
18                                                900              NaN
19                                                900              NaN

         Unnamed: 6   Unnamed: 7 Unnamed: 8   Unnamed: 9  ...   Unnamed: 58  \
0               NaN          NaN        NaN          NaN  ...           NaN
1               NaN          NaN        NaN          NaN  ...           NaN
2               NaN          NaN        NaN          NaN  ...           NaN
3               NaN          NaN        NaN          NaN  ...           NaN
4               NaN          NaN        NaN          NaN  ...           NaN
5               NaN          NaN        NaN          NaN  ...           NaN
6               NaN          NaN        NaN          NaN  ...           NaN
7               NaN          NaN        NaN          NaN  ...           NaN
8               NaN          NaN        NaN          NaN  ...           NaN
9               NaN          NaN        NaN          NaN  ...           NaN
10              NaN          NaN        NaN          NaN  ...           NaN
11              NaN          NaN        NaN          NaN  ...           NaN
12              NaN          NaN        NaN          NaN  ...           NaN
13              NaN          NaN        NaN          NaN  ...           NaN
14              NaN          NaN        NaN          NaN  ...           NaN
15  ISO2 Alpha-code  SDMX code**       Type  Parent code  ...         25-64
16              NaN            1      World            0  ...   1046137.312
17              NaN            1      World            0  ...  1062625.8575
18              NaN            1      World            0  ...   1079986.785
19              NaN            1      World            0  ...  1098488.2055

     Unnamed: 59  Unnamed: 60  Unnamed: 61 Unnamed: 62 Unnamed: 63  \
0            NaN          NaN          NaN         NaN         NaN
1            NaN          NaN          NaN         NaN         NaN
2            NaN          NaN          NaN         NaN         NaN
3            NaN          NaN          NaN         NaN         NaN
4            NaN          NaN          NaN         NaN         NaN
5            NaN          NaN          NaN         NaN         NaN
6            NaN          NaN          NaN         NaN         NaN
7            NaN          NaN          NaN         NaN         NaN
8            NaN          NaN          NaN         NaN         NaN
9            NaN          NaN          NaN         NaN         NaN
10           NaN          NaN          NaN         NaN         NaN
11           NaN          NaN          NaN         NaN         NaN
12           NaN          NaN          NaN         NaN         NaN
13           NaN          NaN          NaN         NaN         NaN
14           NaN          NaN          NaN         NaN         NaN
15         25-69          50+          60+         65+         70+
16   1099260.296  388942.6315  199004.2025  128207.567   75084.583
17  1116549.6315  395069.6115  201079.1935  129661.214    75737.44
18  1134956.1545  401945.1865   203479.121  131548.953  76579.5835
19  1154724.5805  409517.1825  206348.5625  133873.379   77637.004

   Unnamed: 64 Unnamed: 65 Unnamed: 66 Unnamed: 67
0          NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN
11         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN
15         75+         80+         85+         90+
16   38432.033   15991.324     5120.83    1143.711
17  38702.9785   16001.856   5088.6305   1129.9645
18   39058.051    16120.88   5084.2605   1127.2935
19   39492.108  16351.9885   5106.2395    1132.743

[20 rows x 68 columns]

C:\Users\lfarrel\AppData\Local\Temp\ipykernel_4984\3055442576.py:1: DtypeWarning: Columns (0,3,4,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  WE_dt = pd.read_csv("WorldData_Estimate.csv")

From looking at the CSV, we can see there are approx 16 lines of unneeeded data as these are initial disclaimers on the UN data. 

I will now need to remove these lines

In [22]:
WE_dt = pd.read_csv("WorldData_Estimate.csv")
WE_dt.drop(WE_dt.index[0:14], inplace=True)
print(WE_dt.head(20))

   Unnamed: 0 Unnamed: 1                            Unnamed: 2 Unnamed: 3  \
14        NaN        NaN                                   NaN        NaN
15      Index    Variant  Region, subregion, country or area *      Notes
16          1  Estimates                                 WORLD        NaN
17          2  Estimates                                 WORLD        NaN
18          3  Estimates                                 WORLD        NaN
19          4  Estimates                                 WORLD        NaN
20          5  Estimates                                 WORLD        NaN
21          6  Estimates                                 WORLD        NaN
22          7  Estimates                                 WORLD        NaN
23          8  Estimates                                 WORLD        NaN
24          9  Estimates                                 WORLD        NaN
25         10  Estimates                                 WORLD        NaN
26         11  Estimates                                 WORLD        NaN
27         12  Estimates                                 WORLD        NaN
28         13  Estimates                                 WORLD        NaN
29         14  Estimates                                 WORLD        NaN
30         15  Estimates                                 WORLD        NaN
31         16  Estimates                                 WORLD        NaN
32         17  Estimates                                 WORLD        NaN
33         18  Estimates                                 WORLD        NaN

       Unnamed: 4       Unnamed: 5       Unnamed: 6   Unnamed: 7 Unnamed: 8  \
14            NaN              NaN              NaN          NaN        NaN
15  Location code  ISO3 Alpha-code  ISO2 Alpha-code  SDMX code**       Type
16            900              NaN              NaN            1      World
17            900              NaN              NaN            1      World
18            900              NaN              NaN            1      World
19            900              NaN              NaN            1      World
20            900              NaN              NaN            1      World
21            900              NaN              NaN            1      World
22            900              NaN              NaN            1      World
23            900              NaN              NaN            1      World
24            900              NaN              NaN            1      World
25            900              NaN              NaN            1      World
26            900              NaN              NaN            1      World
27            900              NaN              NaN            1      World
28            900              NaN              NaN            1      World
29            900              NaN              NaN            1      World
30            900              NaN              NaN            1      World
31            900              NaN              NaN            1      World
32            900              NaN              NaN            1      World
33            900              NaN              NaN            1      World

     Unnamed: 9  ...   Unnamed: 58   Unnamed: 59  Unnamed: 60  Unnamed: 61  \
14          NaN  ...           NaN           NaN          NaN          NaN
15  Parent code  ...         25-64         25-69          50+          60+
16            0  ...   1046137.312   1099260.296  388942.6315  199004.2025
17            0  ...  1062625.8575  1116549.6315  395069.6115  201079.1935
18            0  ...   1079986.785  1134956.1545  401945.1865   203479.121
19            0  ...  1098488.2055  1154724.5805  409517.1825  206348.5625
20            0  ...  1117528.5975  1174989.8995  417502.3815  209683.6265
21            0  ...   1137110.686   1195518.822   426003.202   213460.681
22            0  ...  1156720.8085  1215846.8145  434778.1705  217522.6555
23            0  ...  1176023.9655    1235712.01  443717.4855   221846.792
24            0  ...  1195861.4555  1256124.0895   453426.189   226812.422
25            0  ...  1215476.1115   1276602.511   463112.155   231625.038
26            0  ...   1234179.576  1296444.3895   471919.351   236023.993
27            0  ...  1253705.9695  1317415.4705   480908.191  240956.9775
28            0  ...  1274821.7525   1340283.477   490881.188  246705.0635
29            0  ...   1296500.356   1363881.495  501506.3625    252987.09
30            0  ...   1317917.858  1387137.2565  512446.0595   259565.841
31            0  ...   1338809.315   1409955.545  522715.1555   266398.822
32            0  ...  1359297.7845  1432523.9275  531714.1965  273350.0325
33            0  ...  1379094.5345   1454479.305  540079.5645   280571.387

    Unnamed: 62  Unnamed: 63 Unnamed: 64 Unnamed: 65 Unnamed: 66 Unnamed: 67
14          NaN          NaN         NaN         NaN         NaN         NaN
15          65+          70+         75+         80+         85+         90+
16   128207.567    75084.583   38432.033   15991.324     5120.83    1143.711
17   129661.214     75737.44  38702.9785   16001.856   5088.6305   1129.9645
18   131548.953   76579.5835   39058.051    16120.88   5084.2605   1127.2935
19   133873.379    77637.004   39492.108  16351.9885   5106.2395    1132.743
20    136325.53    78864.228   39997.079  16617.1155   5164.9825    1143.271
21  138714.7165   80306.5805  40657.2125  16937.4425     5260.64   1161.6295
22   141023.155    81897.149  41406.9335  17279.4395   5347.1955   1178.9085
23   143369.255   83681.2105   42208.421   17631.294   5458.7245    1196.091
24   146114.378    85851.744    43139.92  18045.8405   5661.9655     1250.05
25   149000.141   87873.7415  44098.6265   18461.095   5867.3925   1315.4545
26   151582.492   89317.6785  44932.3885   18818.696    6013.215    1352.863
27   154508.483    90798.982   45887.621  19213.0705   6172.0795    1382.909
28   158038.094   92576.3695  47076.1385  19656.3995   6330.6255    1415.365
29   161945.576    94564.437  48469.7845   20130.302   6473.0365   1453.2515
30  166119.2065    96899.808  49973.7375  20728.5815   6664.3655    1506.184
31  170607.1605   99460.9305   51335.522   21413.443    6897.971    1571.349
32   175365.135   102138.992  52624.1895  22125.6525    7135.389     1637.41
33    180403.57  105018.7995  53967.6125   22936.104   7390.8955    1704.222

[20 rows x 68 columns]

C:\Users\lfarrel\AppData\Local\Temp\ipykernel_4984\3772916781.py:1: DtypeWarning: Columns (0,3,4,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  WE_dt = pd.read_csv("WorldData_Estimate.csv")